@charset "UTF-8";
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  font-family: "Open Sans";
}

.main-nav ul {
  height: 100%;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.main-nav .li-nav {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.main-nav .li-nav a {
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  color: white;
  margin: 0 auto;
}

header {
  margin-top: 100px;
  font-family: "Open Sans";
  text-align: center;
  color: #777;
}

header .header-img {
  text-align: center;
}

header .header-img img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

header button {
  display: inline-block;
  margin-top: 20px;
  border-style: solid;
  border-color: #007bff;
  background-color: white;
  width: 200px;
  padding: 10px 10px;
  text-align: center;
  padding: 15px 15px;
}

.portfolio {
  margin: auto 20px;
  font-family: "Open Sans";
  text-align: center;
  color: #777;
}

.portfolio-dark {
  background-color: #f7efe5;
}

.portfolio-h3 {
  margin-top: 50px;
  padding-top: 100px;
}

.portfolio-h3 hr {
  width: 150px;
  background-color: #007bff;
  border: 0;
  height: 2px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding-bottom: 50px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.portfolio-image img :hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  /*ten efekt nie działa, nie wiem, jak go naprawić*/
}

.kontakt {
  font-family: "Open Sans";
  color: #777;
  text-align: center;
}

.kontakt hr {
  width: 150px;
  background-color: #007bff;
  border: 0;
  height: 2px;
}

.kontakt label {
  display: none;
}

.kontakt fieldset {
  border: 0;
}

.kontakt fieldset .kontakt-input {
  display: inline-block;
  width: 40%;
  margin-bottom: 10px;
}

.kontakt fieldset .kontakt-input .input-name {
  border: 1px solid #777;
  border-radius: 0%;
  font-family: "Open Sans";
  width: 90%;
}

.kontakt fieldset .kontakt-textarea {
  display: inline-block;
  width: 80%;
  /* Mam problem z dopasowaniem szerokości inputów i textarea, czy mógłbyś podpowiedzieć?*/
}

.kontakt fieldset .kontakt-textarea textarea {
  font-family: "Open Sans";
  width: 100%;
  border-radius: 0%;
}

.kontakt button {
  display: inline-block;
  margin-top: 20px;
  border-style: solid;
  border-color: #007bff;
  background-color: white;
  width: 200px;
  padding: 10px 10px;
  text-align: center;
  padding: 15px 15px;
}

footer {
  text-align: center;
  margin-top: 50px;
}

footer .footer-font {
  text-align: center;
  display: inline-block;
  width: 75px;
  margin: auto;
}

footer .footer-font a {
  font-size: 20px;
  color: #007bff;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .footer-font a :hover {
  color: #61165c;
}
/*# sourceMappingURL=style.css.map */